.logo {
    color: #212121;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
}
.down {
    color: #FFFFFF;
}
.Web-seme {
    color: #2196F3;
}
li{
    list-style-type: none;
}
header .container,
.nav-links,
.contact-links{
    display: inline-flex;
}
header .container{
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}
.nav-links a{
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-left: 50px;
}
.nav-links a:hover {
    color: #2196F3;
}
a {
    text-decoration: none;
}
.contact-links a{
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
}
.contact-links li:last-child{
    margin-left: 50px;
}
.contact-links a:hover {
    color: #2196F3;
}
h1{
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero{
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero .container{
    text-align: center;
}
.hero a{
    background-color: #2196F3;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 10px 32px;
    margin-top: 30px;
    border-radius: 4px;
}
.container .advantages{
    display: flex;
}
.advantages{ 
   padding: 0;
}
.advantages h3{
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    width: 270px;
    height: 17px;
    margin: 94px 30px 0 0;
    
}
.advantages p{
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    width: 270px;
    margin: 10px 30px 0 0;
}
h2{
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
}
.container .presentation{
    display: flex;
    padding-bottom: 94px;
}
.presentation{
    padding-left: 0;
}
.presentation-title{
    margin-top: 94px;
    margin-bottom: 50px;
}
.presentation li{
    width: 370px;
    height: 294px;
    margin-right: 30px;  
}
.container .our-team{
    display: flex;
}
.our-team-section{
    background-color: #F5F4FA;
    padding-top: 94px;
}
.our-team{
    margin: 0;
    padding: 0;
}
.our-team-title{
    margin-top: 0;
    margin-bottom: 50px;
}
.our-team li:not(:last-child){
margin-right: 30px;
}
.our-team li{
    background-color: #FFFFFF;
    margin-bottom: 94px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.our-team img{
    width: 270px;
    height: 260px;
}
.our-team h3{
    color: #212121;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.our-team p{
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
}
.container .button-list{
    justify-content: center;
   
}
.button-list{
    display: flex;
    margin-top: 94px;
    margin-bottom: 50px;
}
 .button-list li{ 
    margin-right: 8px;
}
button{
    background-color: #F5F4FA;
    color: #212121;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    border: none;
    padding: 6px 22px;
    position: relative;
}
button:hover{ 
    color: #FFFFFF;
    background-color: #2196F3;
}
.product-items{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 64px;
    padding: 0;
}
.product-items li{
    width: 370px;
    height: 404px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.product-items img{
    width: 370px;
    height: 294px;
}
.product-items h3{
    color: #212121;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    margin: 20px 24px 4px;
}
.product-items p{
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    margin: 0 24px 4px;
}
footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
address{ 
    font-style: normal;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    width: 231px;
    height: 21px;
    margin-top: 20px;
    margin-bottom: 0;

    }
.contact-links-down li{
    width: 231px;
    height: 21px;
    margin-top: 9px;
}
.contact-links-down{
    margin: 0;
    padding-left: 0;
}
.contact-links-down a{
    color: #999999;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    border: 1px solid red;
}
